body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  text-align: center;
}

.type {
  padding: 4px 8px;
  border-radius: 12px;
  color: #fff;
  margin: 2px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Tipos de Pokémon com cores */
.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C; }
.grass { background-color: #7AC74C; }
.ice { background-color: #96D9D6; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug { background-color: #A6B91A; }
.rock { background-color: #B6A136; }
.ghost { background-color: #735797; }
.dragon { background-color: #6F35FC; }
.dark { background-color: #705746; }
.steel { background-color: #B7B7CE; }
.fairy { background-color: #D685AD; }
form {
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #60a561;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4b8c4a;
}

.pokemon-card {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: inline-block;
  max-width: 300px;
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.pokemon-card img {
  width: 150px;
  height: auto;
}

h2 {
  text-transform: capitalize;
  margin: 10px 0 5px;
}

p {
  margin: 5px 0;
  color: #333;
  font-size: 14px;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.navbar {
    background-color: #333;
    color: #FFF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img{
        height: 150px;
        width: auto;
    }
}